@model DAPM_C_.Models.ChiTietDeXuat

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CHI TIẾT ĐỀ XUẤT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaDeXuat" />
            <input type="hidden" asp-for="MaChiTietSanPham" />
            <div class="form-group">
                <label asp-for="LyDoDeXuat" class="control-label"></label>
                <input asp-for="LyDoDeXuat" class="form-control" />
                <span asp-validation-for="LyDoDeXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongDeXuat" class="control-label"></label>
                <input asp-for="SoLuongDeXuat" class="form-control" />
                <span asp-validation-for="SoLuongDeXuat" class="text-danger"></span>
            </div>         
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.MaDeXuat">Quay lại</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
